.App {
  text-align: center;
  background-image: url(background.jpg);
  background-size: cover;
  color: #FFFFFF;
  margin-bottom: 0px;
  height:100vh;
}

.loading {
  font-size: 1.7em;
  padding-top: 10vh;
  font-stretch: extra-condensed;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

.Logo {
  margin: auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:15px;
  width: 250px;
  max-width: 50%;
  height: auto;
}



.middle {
  margin-left: 10%;
  margin-top: 10vh;
  margin-right: 10%;
  font-size: 1em;
  left: 50%;
  top: 50%;
}

.form {
  margin-top: 3%;
}

.social {
  margin-top: 10vh;
}

.slogan {
  font-size: 1.2em;
}