.App {
  text-align: center;
  background-image: url(background.jpg);
  background-size: cover;
  overflow: hidden;
  color: #FFFFFF;
  margin-bottom: 0px;
  height:100vh;
}

.Logo {
  margin: auto;
  padding: 30px;
  width: 250px;
  max-width: 40%;
  height: auto;
}



.middle {
  margin-left: 10%;
  margin-top: 8%;
  margin-right: 10%;
  font-size: 1.5em;
  left: 50%;
  top: 50%;
}

.p {
  margin-top: 1%;
}

.form {
  margin-top: 10%;
}

.social {
  margin-top: 8%;
}